#firstImg{
    height : 500px;
}

div {
    background-color: #F5F5F5;
    font-family : "optima", sans-serif;
}

div.aboveTheFold {
    padding-top : 60px;
    display : flex; 
    padding-bottom: 60px;
    align-items : center;
    justify-content : space-evenly;
}

#rightFold {
    display : flex;
    width : 50%;
}

h1 {
    font-size : 60px;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content: flex-end;
    align-items : flex-end;
    height : 90px;
    padding-right : 20px;
    padding-left : 10px;
    font-size : 20px;
    background-color : #307816;
}

#navHeaders {
    width : 400px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    background-color : #307816;
}


div.undergraduate {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    justify-content : space-evenly;
   
}

#undergradPhoto {
    width : 300px;
    height : 300px;
}

h2 {
    font-size : 40px;
}

p.text {
    font-size : 25px;
}

#gradPhoto {
    width : 400px;
}

div.graduate {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    flex-direction : row-reverse;
    justify-content : space-evenly;
}

#leftUndergrad {
    width : 60%;
}


