{% extends "base.html" %}

{% block title %}MHCI Capstone{% endblock %}

{% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project-page.css') }}"/>
{% endblock %}

{% block content %}
        <h1>Capstone Project with South Fayette: Stack Builder</h1>
 <div class = "projects">
        <p class = "projects">
            As part of my Masters program, we must complete a capstone project.
            This allows us to have practical experiences working with clients
            and stakeholders to create real solutions. My team is working with
            South Fayette high school in Mcdonald, PA. The goal of this project
            is to move away from the method of education where students get
            trapped in one topic or subject area even before reaching college.
            Our goal is to increase student autonomy and internal motivation to
            help them find the best path forward for their future, whether that
            be college or straight into the job force.
        </p>
         <img id = "capstone1" src = "{{ url_for('static', filename='images/capstone-group-photo.jpg') }}" width = "480px" alt = "The capstone team">
        </div>
<div class = "projects" id = "odd">
        <p class = "projects">
            In order to achieve this, our group started by researching the problem space.
            This included background research such as competitive analysis of other
            school districts and doing research into the history of education in general.
            We interviewed stakeholders to understand what was important to them and what
            motivates them. Our stakeholders include students, parents, teachers, and
            administrative staff. We also used participatory design methods to gain
            insights about our client’s vision for the project. We shared our research
            with our clients and are using their feedback to direct the next stage of development
            for this project.
        </p>
         <img id = "capstone2" src = "{{ url_for('static', filename='images/capstone-research.jpeg') }}" width = "500px" alt = "Research session with stakeholders">
        </div>
<div class = "projects">
        <p class = "projects">
         As a team, we created prototypes to test assumptions of what could work. This included
          a variety of methods such as interviews, Wizard of Oz studies with AI recommendations,
           and cardboard prototypes. During this stage, our prototypes were meant to be tested
            quickly and to gain insights for specific questions and problems. We were able to use
            the information that we learned from the prototyping phase to create our final solution.
        </p>
         <img id = "capstone3" src = "{{ url_for('static', filename='images/stack-builder-poster.jpg') }}" width = "250px" alt = "Stack Builder poster">
         <img id = "capstone4" src = "{{ url_for('static', filename='images/failure-cards.jpg') }}" height = "250px" alt = "Failure cards prototype">
        </div>

        <div class = "projects" id = "odd">
        <p class = "projects">
            Our solution is a software that we called Stacks. This software is designed to help
             students track what they have done and use that information to help them discover
             new patterns or options. Students can view their experiences in different ways,
             such as a time line or clustering similar things together. Stacks tracks not only
              classwork, but extracurriculars and opportunities outside of school. This allows
              for the student to get a more complete view of what they are interested in. For
              this project, I created a database to hold student, class, extracurricular, and
              general event information. I also helped create an AI recommendation system that
              provides students with recommendations based on their interests and previous experiences.
        </p>
        <video width = "600px" controls>
            <source src = "{{ url_for('static', filename='video/stacks-demo.mp4') }}" type = "video/mp4">
        </video>
        </div>
{% endblock %}
