{% extends "base.html" %}

{% block title %}Club President{% endblock %}

{% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/experienceInfo.css') }}"/>
{% endblock %}

{% block content %}
<div class = "wholePage">
    <div id = "aboveFold">
        <div class = "leftFold">
            <h1 class = "title">Club President</h1>
            <h2 class = "subtitle">Leadership Experience</h2>
            <p class = "experience">Skills: Team Work; Leadership; Planning</p>
        </div>
        <div class = "rightFold">
            <img class = "aboveFoldPhoto" id = "stackbuilderposter" src = "{{url_for('static', filename='images-webp/quiz-bowl-team.webp') }}"  height = "370px" fetchpriority = "low" decoding = async alt = "early prototype and research material for Stacks">
        </div>
    </div>

    <p class = "sectionHeader">Overview</p>
    <div class = "section">
        <p class = "bodyText">
    </div>
  
    </div>

    <div class = "back">
        <a class = "navLink" href = "{{ url_for('experiences')}}#michiganTech">
            <p>back</p>
        </a>
    </div>
</div>


{%endblock content %}