{% extends "base.html" %}

{% block title %}Experiences{% endblock %}

{% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/experienceInfo.css') }}"/>
{% endblock %}

{% block content %}
<div class = "wholePage">
    <div id = "aboveFold">
        <div class = "leftFold">
            <h1 class = "title">Team South Fayette - Stack Builder</h1>
            <h2 class = "subtitle">Capstone Project</h2>
            <p class = "experience">Skills: </p>
        </div>
        <div class = "rightFold">
            <img class = "aboveFoldPhoto" id = "stackbuilderposter" src = "{{url_for('static', filename='images-webp/stack-builder-poster.webp') }}" fetchpriority = "low" decoding = async alt = "Logo of South Fayette High School">
        </div>
    </div>

    <p class = "sectionHeader">Overview</p>
    <div class = "section"></div>
    <p class = "sectionHeader">Design Process</p>
    <div class = "section"></div>
    <p class = "sectionHeader">Result</p>
    <div class = "section"></div>

    <div class = "back">
        <a class = "navLink" href = "{{ url_for('experiences')}}#carnegieMellon">
            <p>back</p>
        </a>
    </div>
</div>


{%endblock content %}