#firstImg{
    height : 500px;
}

div {
    background-color: #F5F5F5;
    font-family : "optima", sans-serif;
}

div.aboveTheFold {
    padding-top : 60px;
    display : flex; 
    padding-bottom: 60px;
    align-items : center;
    justify-content : space-evenly;
}

#rightFold {
    display : flex;
    flex-direction : column;
    width : 50%;
}

#personalLinks {
    display : flex;
    align-items : center;
}

#linkedinLogo {
    height : 60px;
    width : 60px;
}

#githubLogo {
    height : 40px;
    width : 40px;
}

h1 {
    font-size : 60px;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items : flex-end;
    height : 90px;
    padding-right : 20px;
    padding-left : 10px;
    font-size : 20px;
    background-color : #307816;
}

img.homePhoto {
    background-color : #307816;
}

a.navLink {
    text-decoration : none;
    color : black;
}

a.navLink:hover {
    font-weight : bold; 
}

#navHeaders {
    width : 400px;
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    background-color : #307816;
}


div.undergraduate {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    justify-content : space-evenly;
   
}

#undergradPhoto {
    width : 300px;
    height : 300px;
}

h2 {
    font-size : 40px;
}

p.text {
    font-size : 25px;
}

#gradPhoto {
    width : 400px;
}

div.graduate {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    flex-direction : row-reverse;
    justify-content : space-evenly;
}

#leftUndergrad {
    width : 60%;
    display: flex;
    flex-direction : column;
}

div.projectSection {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
}

div.project {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 225px;
  }

  #project2 {
    width : 385px;
  }
  
  div.projecct:hover {
    border: 1px solid black;
  }
  
 
  
  div.descript {
    padding: 15px;
    text-align: center;
  }

  #homeLogo {
    text-decoration: none;
    background-color :#307816;
    border : none;
  }

  div.aboutme {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    justify-content : space-evenly;
}

div.quote {
    display : flex;
    
}

#quote {
    font-style : italic;
    padding-right : 5px;
}
