body {
    background-color: #377C51;
    font-family : "georgia";
    margin : 0px;
    margin-top : 10px;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content: flex-end;
    height : 90px;
    padding-right : 20px;
    font-size : 20px;
    align-items : center;
    border-top : 2px solid #1F0F0D;
    border-bottom : 2px solid #1F0F0D;
    margin-left : 10px;
    margin-right : 10px;
}


a.navLink {
    text-decoration : none;
    color : black;
    font-size : 25px;
    padding : 55px;
}

a.navLink:hover {
    color : #D9FCE7;
}

footer {
    display : flex;
    flex-direction : row;
    background-color : #3C5747;
    height : 70px;
    margin-top : 90px;
    justify-content : space-between;
    align-items : center;
    padding-left : 30px;
    padding-right : 30px;
}

p.footer {
    color :#1F0F0D;
}

#footerLinks {
    display : flex;
    flex-direction : row;
    justify-content : space-around;

}

a.footerLink {
    padding-left : 10px;
    text-decoration : none;
    color :#D9FCE7;
}

h1 {
    font-size : 60px;
    margin-bottom : 0px;
    color : #1F0F0D;
}