#firstImg{
    height : 500px;
    border-radius : 50px;
    width : 350px;
    object-fit : cover;
    object-position : center;
}

body {
    background-color: #377C51;
    font-family : "georgia";
}

div.aboveTheFold {
    padding-top : 100px;
    display : flex; 
    padding-bottom: 60px;
    justify-content : space-around;
    flex-direction : row-reverse;
    align-items : flex-end;
}

#leftFold {
    display : flex;
    flex-direction : column;
    align-items : flex-end;
}

#rightFold {
    background-color : #D9FCE7;
    padding-right : 40px;
    padding-top : 30px;
    border-radius : 50px;
    height : 475px;
}


#nameAndTitle {
    display : flex;
    flex-direction : column;
    align-items : flex-end;
}

#personalLinks {
    display : flex;
    align-items : center;
}

/*img.linkPhoto {
    padding : 10px;
}*/

#linkedinLogo {
    height : 60px;
    width : 60px;
}

#githubLogo {
    height : 40px;
    width : 40px;
}

/*#linkBackground {
    background-color : #D9FCE7;
    border-radius : 10px;
    padding-right : 10px;
    padding-top : 10px;
    height : 40px;
    width : 40px;
}
*/

h1 {
    font-size : 60px;
    margin-bottom : 0px;
    color : #1F0F0D;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content: flex-end;
    height : 90px;
    padding-right : 20px;
    font-size : 20px;
    align-items : center;
    border-top : 2px solid #1F0F0D;
    border-bottom : 2px solid #1F0F0D;
}


a.navLink {
    text-decoration : none;
    color : black;
    font-size : 25px;
    padding : 55px;
}

a.navLink:hover {
    color : #D9FCE7;
}

#buttons {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    padding-top : 100px;
}

.button {
    background-color : #D9FCE7;
    border : none;
    padding : 15px;
    border-radius : 10px;
    width : 350px;
    height : 130px;
    color : black;
    font-weight : bold;
    font-size : 25px;
    cursor : pointer;
}

.button:hover {
    background-color : #B4D1C0;
}


#navHeaders {
    width : 400px;
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    background-color : #307816;
}


div.undergraduate {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    justify-content : space-evenly;
   
}

#undergradPhoto {
    width : 300px;
    height : 300px;
}


p.text {
    font-size : 25px;
}

#gradPhoto {
    width : 400px;
}

div.graduate {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    flex-direction : row-reverse;
    justify-content : space-evenly;
}

#leftUndergrad {
    width : 60%;
    display: flex;
    flex-direction : column;
}

div.projectSection {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
}

div.project {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 225px;
  }

  #project2 {
    width : 385px;
  }
  
  div.projecct:hover {
    border: 1px solid black;
  }
  
 
  
  div.descript {
    padding: 15px;
    text-align: center;
  }

  #homeLogo {
    text-decoration: none;
    background-color :#307816;
    border : none;
  }

  div.aboutme {
    padding-top : 60px;
    padding-bottom : 60px;
    display : flex;
    justify-content : space-evenly;
}

div.quote {
    display : flex;
    
}

#quote {
    font-style : italic;
    padding-right : 5px;
}
